[2016-03-08 09:50] joelea opened #26 "Inconsistent use of validation libraries"
We should go through and make use of a single validation library.

[2016-03-08 15:06] joelea opened #28 "Review uses of "service" and "container" to fit in with our definitions"
We're defining a service as an actual Docker container. A service is then something running inside a container that we can communicate with.

[2016-03-08 17:40] joelea opened #29 "Generate a unique cluster name for each run"
docker-compose by default gives each cluster the name of the directory it's in. This is going to cause issues when running tests in parallel etc.

We can fix this by using `--project-name` flag when using docker compose combined with a random name/id for each cluster.

[2016-03-16 10:24] gbrova commented on #29
+1!  We're coming across the parallel run issue on Pict now.

[2016-03-16 10:34] CRogers commented on #29
@joelea Have you started working on this feature? Otherwise we're going to do it now.

[2016-03-16 15:36] joelea commented on #29
Looks like this is fixed?

[2016-03-16 15:36] #29 closed

[2016-03-26 19:51] j-baker opened #38 "DockerCompose.ps() incorrectly ignores certain valid container names"
To parse results, it calls https://github.com/palantir/docker-compose-rule/blob/505286255bee81cec0f537e1cb7a09aafb21e570/src/main/java/com/palantir/docker/compose/connection/ContainerNames.java#L48

which assumes that the container name is in the format PROJECT_name_SOMENUMBER, I think.

But, you can set the container name to whatever you want, and the name can also have underscores in.

In these

[2016-03-28 20:15] joelea commented on #38
Loving the name change on the issue :+1: Though I do like the old name better.

This sucks and doesn't have an easy fix, I have a few ideas I'm going to let stew though. If you have any ideas, feel free to mention them or make a PR.

[2016-03-28 20:19] nemines opened #39 "Output logging errors"
I've been running tests with the docker-compose-rule from IntelliJ Idea.
The errors are correctly caught but are not outputted anywhere.

Due to misconfigurations, Intellij fails with only a stacktrace and no significant error message.

[2016-03-28 20:27] joelea commented on #39
SL4J logging is just not appearing, probably a docs issue, or we need to log differently.

[2016-03-28 20:43] felixdesouza commented on #38
I was looking this up at some point. I think terminology needs to be cleared up also.

You can list the the services (what you specify in your docker-compose file, regardless of `container_name` and also project name) that your compose file provides. If you're not doing any sort of scaling then there is a 1-1 mapping of docker-compose services (as defined by docker) and a container that runs an in

[2016-03-28 22:05] joelea commented on #38
oooh, docker-compose config --services is nice. That looks like the right kind of path to go down. Thanks1

[2016-03-29 09:33] j-baker opened #40 "Docker-compose --project is randomly chosen"
DCR 0.5.3 randomly chooses the project name every single test run.

This seems like an unsafe default:

- if the JVM exits during startup (I cancelled a build), the next run won't shut down or delete the containers that were created in the last run
- if you use named containers and this happens, you won't be able to run the tests again, until you have manually deleted all the containers used in th

[2016-03-29 13:08] CRogers commented on #40
I think the real solution here is to allow you to choose your own project name. Randomly generated project names are the safe default if you `up` the same docker-compose file in parallel.

Also, stop using `ExternalRule` as it doesn't have the behaviour you expect - you want to always run `after()`, even if there is was an exception.

[2016-03-29 13:13] CRogers commented on #39
We also have problems with SLF4J and get no errors messages or any logging. I would consider injecting loggers so we can choose how we output logs.

[2016-04-05 12:45] verity opened #44 "saveToLogs does not save logs"
V0.5.3

When using the following class rule, it creates the log directory, but never writes any container log files.

`@ClassRule
    public static final DockerComposition composition = DockerComposition.of("src/test/resources/full-stack/docker-compose.yml").saveLogsTo("build/docker-logs/dockerSuite").build()`

Debugging the code, I can see that in FileLogCollector.java > startCollecting
 `Contain

[2016-04-05 14:06] verity commented on #44
Upgrading the docker-compose file to V2 fixed this issue for me.

[2016-04-05 17:34] joelea commented on #44
Is this linked to #38 ?

[2016-04-05 18:42] CRogers commented on #44
@verity did originally use `container_name`s in her docker-compose file - just single words with no underscores iirc. This probably also triggered the bug, as there where no underscores for DCR to look for.

[2016-04-05 21:07] joelea commented on #44
yeah, this would've triggered it. The underscore bug was separate from this whole concept. I like that people tend to hit bugs in big clumps.

[2016-04-05 21:41] CRogers commented on #44
Basically, the container name in `docker-compose ps` can be anything.

[2016-04-05 23:10] joelea commented on #44
Yep, it's the same as #38, we'll need to pretty aggressively change how we grab container names.

[2016-04-06 09:43] CRogers commented on #39
More problems with static logging: I've now managed to force gradle to change it's SLF4J log level in all the requisite places, but since DCR uses debug for basically everything I then get a whole load of noise from the other libraries I use and I don't care about. Really I want all the logs from just DCR, but no logs from the other libraries.

[2016-04-06 15:56] joelea commented on #39
Yeah, I want to play with a better pattern to fix this, but I'm not going to have time in the near future.

Can you not configure an actual logging file with gradle to do this? This is exactly the kind of feature things like logback and log4j support - "Please give me DEBUG on this package but WARN on everything else".

[2016-04-06 15:56] joelea commented on #39
Next time I take part in writing a library, I'll insist we have more flexible logging.

[2016-04-06 21:53] CRogers commented on #39
Gradle forces use to use it's own SLF4J logger, which does not have those features. If you try to add log4j you get the multiple static binders error and gradle wins :(

[2016-04-08 18:25] joelea commented on #39
Well that sucks :(

Guess we'll have to do something about this then.

[2016-04-14 02:32] joelea commented on #39
Release 0.6.0 fixes some of this pain, but we still need something better.

[2016-04-21 14:31] felixdesouza commented on #38
As an extra case to this, if you have a dash in your service name e.g. `d-c-r`, it will drop `-c-r`. I looked briefly and it looks like this is the culprit:
https://github.com/palantir/docker-compose-rule/blob/master/src/main/java/com/palantir/docker/compose/connection/ContainerNames.java#L43
[code]

[2016-04-21 14:44] iamdanfox commented on #38
I think the PR @CRogers just merged (#53) might help with this issue - we can now guarantee that a running container will either be named: `project_service_x` or random: `ac34bc56_service_x`

[2016-04-23 11:31] iamdanfox commented on #40
PR#53 allows you to specify a project name instead of a randomly chosen one. This should be good to close when the next release comes out.

[2016-04-26 21:58] iamdanfox commented on #40
0.9.0 lets you specify a `ProjectName`. @CRogers OK to close?

[2016-04-26 23:07] CRogers commented on #40
Go for it

On Tue, 26 Apr 2016, 22:58 iamdanfox, <notifications@github.com> wrote:

[2016-04-26 23:09] iamdanfox commented on #40
I don't have admin rights, sorry.

[2016-04-26 23:12] CRogers commented on #40
You do now!

[2016-04-26 23:17] #40 closed

[2016-05-24 13:06] rsltrifork opened #64 "Force purge of existing containers with conflicting name."
After an unclean shutdown, running containers will remain, and hinder a repeated test with the error:
``` "Conflict. The name "/docker-contianer-name" is already in use by container 04a0cb1433e1c325ac43a52d0bfa6b0b2ae6ba6665753d50dab7f235a6768645. You have to remove (or rename) that container to be able to reuse that name.```

Please add an option to the builder interface to catch that, and automa

[2016-05-25 12:42] joelea commented on #64
This sounds entirely sensible - a PR would be great. Thanks!

[2016-05-25 15:11] nmiyake opened #66 "Gradle Idea task assumes specific IDEA JDK naming scheme"
Currently, this project's Gradle IDEA task assumes as specific naming scheme for the IntelliJ JDK/JRE -- specifically, "JavaSE-$version".

However, this isn't really standard, and makes it so that the out-of-the-box configuration doesn't work in many environments. Is there a reason that this is enforced? Omitting this custom logic should cause IntelliJ to just pick the correct JDK according to the

[2016-05-25 16:58] nmiyake opened #68 "Docker-compose does not work on Macs that use Docker daemon"
The Docker for Mac Beta (https://blog.docker.com/2016/03/docker-for-mac-windows-beta/) finally allows Docker to run as a daemon on Macs rather than as a docker-machine. This is great, but breaks the current assumptions of docker-compose-rule, which hard-codes the `DockerType` for `LocalMachine` to `REMOTE` on Mac OS systems.

Most flexible near-term fix is to allow the `DockerType` to be specified

[2016-05-26 10:18] #66 closed

[2016-05-26 15:46] #68 closed

[2016-05-26 16:10] nmiyake commented on #26
FWIW, I'm a big fan of https://github.com/google/truth -- very fluent/legible, broad compatibility, and find that the method-based completion for matchers makes it one of the easiest to write.

[2016-05-26 17:44] tonio-ramirez opened #70 "Add option to remove volumes on shutdown"
I just noticed my disk had been gobbled up by multiple dangling volumes, from running tests using this rule.  An option (maybe even defaulting to `true`) to remove volumes on shutdown would be great.

[2016-05-26 17:57] joelea commented on #70
I think it's probably fine to always clean up the volumes given that's what most usages probably expect. If people want to use them for debugging then `skipShutdown` is available. I'm also happy to add an option to not remove volumes if a case appears I'm not thinking of right now.

WIll be fixed by #71

[2016-05-26 18:03] tonio-ramirez commented on #70
Oh great!  I had actually just forked the repo to work on a PR... happy to learn I don't even have to do that!

[2016-05-27 13:18] joelea commented on #70
This should become available as part of 0.13.0 which is publishing now (you can check the download badge in the README to see when it's published).

[2016-05-27 16:13] tonio-ramirez commented on #70
Just tried out the new version, still seeing dangling containers after shutdown.  After investigating, I noticed that `docker-compose rm -v` was returning "No stopped containers", and hence was doing nothing.  Turns out that `down` not only stops, but also removes, the containers.  There is a `-v` option on `down`, which also removes volumes.

[2016-05-27 16:24] joelea commented on #70
Whoops. Looks like I fixed it for < 1.6 only :( Sorry about that.

There's been some debate about how to best handle a variety of versions of docker-compose that are in use - the eventual conclusion was lets keep it simple till it bites us. Looks like this is the time to come up with a more sensible plan. It's not at all obvious what's getting run anymore.

[2016-05-31 05:46] nmiyake commented on #64
Have a PR that mostly does this, but have been fighting with CircleCI on unit tests -- CircleCI doesn't support the "remove" operation and the "rename" behavior seems funky as well. Also have 2 different flavors of the PR -- one that refactors quite a bit (but thus causes API breaks) and another that is purely additive, but has code duplication. Any preference between the two from the project pers

[2016-05-31 16:38] #70 closed

[2016-05-31 17:20] nmiyake commented on #64
PR in progress at #73 to address this issue

[2016-05-31 17:55] tonio-ramirez commented on #70
Is this being published?

[2016-06-01 13:27] joelea commented on #70
Publishing now.

[2016-06-14 23:19] #64 closed

[2016-06-28 21:33] jchomicki opened #83 "Should support Docker for Mac"
Now that the Docker for Mac Beta is open to the public, docker-compose-rule should not default to 'remote' if the OS is Mac. This causes docker-compose-rule to fail on Mac's that are running Docker for Mac since the expected environment variables do not exist.

[2016-06-28 21:37] felixdesouza commented on #83
This has been fixed in the latest version of docker compose rule.

[2016-06-29 00:04] jchomicki commented on #83
@felixdesouza I see that now, hit some gradle caching issues locally. I'll close this out!

[2016-06-29 00:04] #83 closed

[2016-07-01 09:25] NeilRickards opened #85 "Setting project name not effective"
The projectName is being set on the DockerComposeExecutable:

[code]

But when I run `docker ps` there's still a random name:

[code]

This is making it impossible to run `dockerCompose.exec`.  It wasn't a problem in docker-compose-rule 0.5.2.

See Salt PR 330 for more context

[2016-07-11 17:53] harishutd commented on #85
👍  This is blocking us as we want to pick up some of the latest changes that would help us do HA testing  such as bringing a node up and down etc

[2016-07-11 17:57] iamdanfox commented on #85
As a temporary workaround, you can interact with this `projectName` field in a different way (which works on latest):

[code]

[2016-07-12 13:32] NeilRickards commented on #85
I've bumped to 0.17.1 and constructed a DockerComposeRule but it didn't make any difference.  Looking at the code it's constructing the DockerComposeExecutable exactly the same.

[2016-07-12 18:50] iamdanfox opened #90 "`Retryer` should wait a few seconds before trying again"
Especially if there is a network blip, there is no point in retrying 3 times in quick succession.  Backing off for 10 seconds seems perfectly reasonable if it might prevent the failure of a 10 minute build!

[code]

[2016-07-12 18:52] iamdanfox commented on #85
I wonder if the version of the `docker-compose` CLI is the problem here... I'm on `1.7.1`.

[2016-07-13 11:28] NeilRickards commented on #85
We are also on 1.7.1

[2016-07-21 15:42] NeilRickards commented on #85
@j-baker helped unblock us by correctly using docker-compose exec.  This is no longer blocking us.
I'll leave this open as think there is still an issue with the project name not being used

[2016-08-25 13:04] tomasulo opened #96 "`unknown enum constant` warning during compilation"
When I compile a project using docker-compose-rule:0.18.0 this warning appears:

`warning: unknown enum constant ImplementationVisibility.PACKAGE
  reason: class file for org.immutables.value.Value$Style$ImplementationVisibility not found`

Is there a way to fix this?

This is my build configuration:

[code]

[2016-08-25 21:09] iamdanfox commented on #96
This seems to just be a linting warning, but I think it stems from a direct [package visibility annotation][1], which apparently isn't recommended.  More discussion here: https://github.com/immutables/immutables/issues/291, and an example fix here: https://github.com/palantir/dropwizard-web-security

Would you be interested in submitting a PR?

[1]: https://github.com/palantir/docker-compose-rule/

[2016-08-26 13:14] tomasulo commented on #96
Sure, I'll look into it.

iamdanfox <notifications@github.com> schrieb am Do., 25. Aug. 2016, 23:09:

[2016-08-26 16:15] #96 closed

[2016-09-01 10:44] iamdanfox opened #99 "Randomized project names exhausts docker's networks"
By default, DockerComposeRule uses a randomized project name.  Using the V2 yml syntax, this causes a host machine to 'run out of networks'.

To fix this, we could switch the default round, so that project name is non-random by default.  We've already had trouble with this before (https://github.com/palantir/docker-compose-rule/issues/40). Unfortunately, I can't remember why it was randomized in t

[2016-09-01 11:35] joelea commented on #99
It caused issues with running tests in parallel.

[2016-09-01 11:41] CRogers commented on #99
Yes, imo the default should be randomised project names or you get all
kinds of problems with parallel tests.

`docker-compose down` removes networks. We should be calling that after
running each test. Is this only something that affects people who choose to
not destroy the composition (and so not call down) afterwards? If so, maybe
we should warn them to give a fixed project name and about the ne

[2016-09-01 11:44] CRogers commented on #99
I just read #40. Are we still using `ExternalResource`? That has some weird semantics iirc, like not calling `after` if there was an exception, which could be exacerbating the problem.

[2016-09-07 21:15] j-baker opened #100 "DockerComposeRule.Builder is confusing"
Either DCR.Builder should be package private, or should extend ImmutableDCR.Builder and not the other way around.

It's super confusing that you can do

    DockerComposeRule.Builder builder = DockerComposeRule.builder()

and then can't actually call `build()`.

My understanding is that the pattern you're *meant* to use with that Immutables feature is to declare the outer class as AbstractDockerCo

[2016-09-07 22:30] j-baker opened #102 "DockerComposeRule.Builder.files() and DockerComposeRule.Builder.file() are confusing"
I expected running

    builder.files("foo", "bar")

to have the same effect as

    builder.file("foo").file("bar")

which is sadly not the case. This is a bit of a UX bug.

[2016-09-08 09:42] j-baker commented on #99
Yeah, I agree - if you use ExternalResource, you're asking for issues like this to happen.

[2016-09-08 09:48] j-baker commented on #99
I think the `ExternalResource`

[code]

is safe for that, no?

[2016-09-08 09:49] j-baker commented on #99
ah wait - the failure is if the error is in your before method; before should be in the try block. That's what could exacerbate the problem.

[2016-09-17 16:11] akrambek opened #103 "How to copy file from docker compose container to host?"
Hi all, I would like to know if it is possible to copy file from docker compose container to host and if yes can you please provide an example. Thanks in advance.

[2016-09-19 09:32] joelea commented on #103
Hi @akrambek, my first thought is that the way to do this is via docker volumes, which would be specified in your docker-compose file rather than anything to do with docker-compose-rule.

[2016-09-19 09:34] akrambek commented on #103
@joelea Thanks! I am using docker-swarm. Is it possible to achieve docker volumes using docker compose + docker swarm.

[2016-09-19 09:41] joelea commented on #103
I'm not sure, it depends on exactly what your set up is. However, this is probably something better asked in docker-swarm support channels. docker-compose-rule purely creates a java wrapper around docker-compose functionality and so we don't add anything beyond what swarm will already provide.

[2016-09-23 10:15] iamdanfox opened #105 "Slow container shutdowns on CI"
After a build has successfully completed, stopping 14 containers on circle CI can take roughly 40 seconds (see logs pasted below).  When optimizing for speed, these 40 seconds seem pretty unnecessary, especially because these containers are never going to be started up again.

I'm hesitant to suggest just leaving them running on CI, but perhaps we could do a more aggressive shutdown than our curre

[2016-09-23 11:31] felixdesouza commented on #105
Can the default just be the DCR equivalent of `docker rm -fv`?
On Fri, 23 Sep 2016 at 11:15, iamdanfox <notifications@github.com> wrote:

[2016-09-30 19:55] iamdanfox commented on #103
Closing this out for now because I don't think there's a bug or feature request for docker-compose-rule here

[2016-09-30 19:56] #103 closed

[2016-09-30 19:58] iamdanfox commented on #99
@joelea can you elaborate on the "issues with running tests in parallel" you mention... do you mean running multiple instances of the same class at the same time? Or just multiple test classes that happen to be in the same folder?

[2016-09-30 20:39] j-baker commented on #99
E.g. If you have two projects that both use the same docker compose file in different contexts, you can't run ./gradlew test --parallel. You can't e.g have a dev stack running and run the tests on a different cluster.

The bug here btw is that DCR can terminate having made no attempt to clean up its state. If DCR creates a network, it should delete it too, whether or not before() throws.

On Sep 3

[2016-09-30 21:10] iamdanfox commented on #102
Would it help if we switched on immutables [`strictBuilder` style][1]? This would cause your second example to fail fast.

[1]: https://immutables.github.io/immutable.html#strict-builder

[2016-09-30 21:14] #90 closed

[2016-09-30 22:04] #100 closed

[2016-10-01 00:49] #105 closed

[2016-10-03 06:41] j-baker commented on #102
My preference would be to simply make the builder methods more intuitive. I'll submit a PR.

[2016-10-03 06:46] j-baker opened #113 "Overloading issue in DockerComposeExecOption"
We never want to provide an option to `docker-compose exec`. However, this makes it a pain to actually construct an object of type `DockerComposeExecOption`, because the type has

`public static DockerComposeExecOption options(String... options)` and `public abstract List<String> options()` which collide and stop code from compiling.

Our code now looks like `DockerComposeExecOption.options(new St

[2016-10-03 07:26] j-baker commented on #102
The reason I have that preference, by the way, is because we currently have to maintain a companion list alongside the builder until the time when we want to call `build()`. Your proposed solution allows us to fail fast, which is an improvement, I guess, but does not allow us to solve our actual problem, which is that we have our own companion builder which we use to orchestrate the DCR builder.

[2016-10-04 16:43] iamdanfox opened #116 "CircleCI build stuck downloading docker"
https://circleci.com/gh/iamdanfox/docker-compose-rule/65#tests/containers/1

[code]

This took 10 minutes, but did eventually succeed

[2016-10-14 14:21] jamesneale opened #118 ".addAllClusterWaits overwrites previous waits."
[code]

Removes cluster wait 'a' from the list of waits. Things then fail in a very non transparent manner.

[2016-10-15 09:52] felixdesouza commented on #118
This should only be the case if you use `clusterWaits` as opposed to `addAllClusterWaits`, the `ImmutableDockerComposeRule.Builder` generates this (at least for DCR 0.17.1):
[code]

_NB: I just deleted the generated javadoc but this is what gets generated :S_

[2016-10-15 09:54] iamdanfox commented on #118
Maybe we should switch to immutables "strict builders" to prevent any
mistakes:

"only additive operations are available on collection attributes, and
regular attributes can be set only once"
On Sat, 15 Oct 2016 at 10:52, Felix de Souza <notifications@github.com>
wrote:

[2016-10-15 15:41] j-baker commented on #118
Noooo! Don't codify the bad api, make the api better!

Sent from my iPhone

On Oct 15, 2016, at 05:55, iamdanfox <notifications@github.com<mailto:notifications@github.com>> wrote:

Maybe we should switch to immutables "strict builders" to prevent any
mistakes:

"only additive operations are available on collection attributes, and
regular attributes can be set only once"
On Sat, 15 Oct 2016 at 10:5

[2016-10-15 21:55] j-baker opened #119 "Prints something about circle ci when running locally"
```7:53:16.426 [Thread-1] WARN  c.p.d.c.e.AggressiveShutdownStrategy - Couldn't shut down containers due to btrfs volume error, see https://circleci.com/docs/docker-btrfs-error/ for more info.```

this seems bogus since I'm not running in Circle CI.

[2016-10-16 21:48] j-baker opened #120 "Aggressive shutdown mode doesn't seem to clean up networks that were created"
It seems to exhaust available networks really quickly. Probably worth following up slaying all the containers with a call to docker-compose down.

[2016-10-17 09:12] Gui13 commented on #120
Yes, this is important, right now I have a dozen networks that are not working anymore, and I really don't know how to remove them..

[2016-10-17 09:47] joelea commented on #118
the original bug @jamesneale posted would be really bad. @jamesneale are you able to post/show one of us a small repro of the issue to confirm.

Otherwise the addClusterWaits/clusterWaits distinction seems sane, even if I wish `clusterWaits` was called `setClusterWaits` in this case.

[2016-10-17 18:49] iamdanfox commented on #120
Good spot.  Could you submit a PR?

In the meantime @Gui13, you can use `docker network ls` and `docker network rm <some id>` to remove these.  (I personally just nuke them all: `docker network rm $(docker network ls -q)`)

[2016-11-01 21:35] jamesneale commented on #118
Only evidence I had is anecdotal - test was failing on circle before reordering and not after. It's possible I had .clusterWaits instead - will investigate.

[2016-11-01 23:41] iamdanfox commented on #118
@j-baker can you clarify what you meant by "don't codify the bad api"?  It seems like switching to Immutable's strict builder would be pretty easy and would have prevented James' problem above.

[2016-11-02 13:50] iamdanfox opened #124 "LoggingIntegrationTest build flake on develop"
logs_can_be_saved_to_a_directory - com.palantir.docker.compose.logging.LoggingIntegrationTest

https://circleci.com/gh/palantir/docker-compose-rule/401

[2016-11-03 11:10] j-baker commented on #118
Err, thinking about it some more, I suppose its fine. I was referring to #102 when I said bad API, though.

[2016-11-04 14:16] #118 closed

[2016-11-04 17:31] #113 closed

[2016-11-06 18:43] jamesneale opened #128 "When containers fail to come up would be really useful to also log all running containers"
When debugging some flakes have run into a situation where containers have failed to start due to ports already being open. Very hard to debug this further without seeing the result of docker ps to know which other containers were running and diagnose why this might be.

[2016-11-18 18:23] gsheasby opened #131 "DockerMachine fails if "system" and "additional" environment variables are duplicated."
Relevant [code](https://github.com/palantir/docker-compose-rule/blob/master/src/main/java/com/palantir/docker/compose/connection/DockerMachine.java#L100):
[code]

If you set FOO=bar in the "additional environment", but FOO=bar happens to also be set on the system, this will fail.

Options:
1 - merge the entries, fail if there's a conflict (e.g. FOO=bar, FOO=baz -> fail)
2 - merge the entries, choo

[2016-11-18 18:25] SerialVelocity commented on #131
Please option 2 otherwise if people want to override system properties they need to change the system environment.

[2016-11-22 11:01] #131 closed

[2016-11-28 16:39] #120 closed

[2016-12-04 03:53] j-baker commented on #119
It did it again!

[code]

[2016-12-04 03:53] j-baker commented on #119
(the dial tcp thing is a go bug, I think - but it's not the btrfs error)

[2017-01-12 10:58] m4kspl opened #135 "DockerPort.isListeningNow() does not really check container port"
Looks like isListeningNow() always returns true, even if the underlying container port is not open.

docker-compose.yml

[code]

And a simple test:

[code]

And in the logs we can clearly see that port 11111 is considered open

[code]

I assume it's some form of Docker forwarding ports mechanism, but clearly, its misleading.

Docker version 1.12.5, build 7392c3b
docker-compose version 1.7.1, build

[2017-01-15 21:34] davidkarlsen opened #136 "Publish to maven central?"
Would you consider pushing the releases to maven central and/or jcenter?
The library seems very useful, and it would be handy to access releases through our maven proxy.

[2017-01-16 11:16] joelea commented on #136
Unfortunately, I think this is unlikely to happen. Currently all of our open source java libraries are hosted in the same way and there is a time and complexity cost to setting up and managing separate locations for the jars. Adding an extra maven repository (at the project or proxy level) is normally straightforward, so it's not something that seems worth that cost right now.

Is there a particul

[2017-01-19 07:08] custenborder-jenkins opened #137 "JUnit5 Extension"
Love what you all have done so far. What are the thoughts about a JUnit5 extension? I wanted to hit you all up first before I submitted a pull request.

[2017-01-19 07:08] #137 closed

[2017-01-19 07:09] jcustenborder opened #138 "Junit 5 extension"
What are the thoughts about a junit 5 extension? I've done some work in a private repo that I could contribute.

[2017-01-19 10:09] hpryce commented on #138
One of the things we've been thinking of is splitting the core of the library and the junit part into two separate projects. That way consumers can decide whether or not they want the junit (4) bindings or just want to get the raw classes for managing the lifecycle of a docker-compose cluster. If that happened we could really easily have a junit 5 project that independently added support. How does

[2017-01-19 13:05] joelea commented on #138
@hpryce sounds like we should actually get round to it now.

@jcustenborder would you be happy maintaining the junit 5 bindings independently or would you want us to bring it under the umbrella of core + junit 5?

[2017-01-19 23:03] jcustenborder commented on #138
@hpryce That is what I was thinking. It would be great if the core docker-compose library was in another project. It's useful enough that it could easily be it's own project. Then I could pull it in for the JUnit 5 extension.

@joelea I'm open to hosting it under jcustenborder. The only weirdness is that I don't have any experience with bintray. I deploy to central.

[2017-01-20 13:06] a-k-g commented on #135
I can repro this with Docker for Mac. But using `docker-machine` on Mac it works as expected and gets stuck at
[code]

[2017-01-22 20:54] j-baker commented on #135
Docker for Mac runs a VM, but it wants to appear as though the containers were running locally. So, when you open a port on a container, it opens the port on the VM, and opens the same port on the host.

However, it doesn't do this exactly when the port is opened by the container, but rather, on creation.

Whenever a connection is made to this port, if the port is not opened on the container, it w

[2017-01-22 20:56] j-baker commented on #135
You'll be able to see this behaviour outside of dcr as well - if you do docker-compose up and:

    nc -z localhost 11111

you'll see connection success as well. From the point of view of DCR (and every other app on the host), the port is open!

[2017-01-22 21:08] j-baker opened #141 "0.29.0 didn't publish"
you forgot to set a version on the subprojects, so it was unspecified, so it didn't publish (but the build succeeded) :(

https://circleci.com/gh/palantir/docker-compose-rule/434

[2017-01-26 18:24] fzakaria opened #142 "Large image pulls - any logging?"
It would be great to have an ongoing log collector for the image pulls.
Perhaps if the images were fetched before compose using a docker java client (https://github.com/docker-java/docker-java) they can be prefetched and it includes logging of the progress.

[2017-01-27 10:23] joelea commented on #142
Hey @fzakaria - what would this help with? It's not something I've come across wanting before so just want to understand what this would need to provide to be useful.

[2017-01-27 10:25] joelea commented on #138
@hpryce merged #140 which splits out the projects, but our publishing was slightly wrong. We'll fix that soon and then you should be able to do what you want with the "core" section.

[2017-01-27 10:27] joelea commented on #136
Closing this due to lack of response, but happy to carry on the conversation if there's some extra context which makes this make more sense.

[2017-01-27 10:27] #136 closed

[2017-01-27 10:28] joelea commented on #135
Yep, this is something we were bitten by in the early stages of writing it. I think a reasonable solution is to remove the `isListeningNow` helpers as you almost never want to use them.

[2017-01-27 10:29] joelea commented on #44
Fixed!

[2017-01-27 10:29] #44 closed

[2017-01-28 05:17] jcustenborder commented on #138
Thanks @joelea and @hpryce! Much appreciated!

[2017-01-30 16:47] fzakaria commented on #142
Right now, you just sit idly by as images are pulled.
If you have a case where network is slow and image is large (multiple GB) there is little feedback.

It would be great to just capture the image pulling output when `docker-compose up` is executed.
So you can see the image layers being updated.

[2017-01-31 15:30] joelea commented on #142
Hey @fzakaria,

Turns out we have something that does this already, it's just not documented (apologies for that). The output of each docker-compose command is logged at the TRACE level. Could you see if this is sufficient for what you need?

[2017-01-31 15:31] joelea opened #144 "Output of commands logged to trace is undocumented"
As mentioned in #142 - almost no one would ever go to trace level, so this is pretty hard to discover.

[2017-02-01 02:17] fzakaria commented on #142
thanks ill close

[2017-02-01 02:17] #142 closed

[2017-02-01 12:46] cbevin opened #145 "Unable to connect to a remote machine"
I'm unable to get docker-compose-rule to connect to my remote docker daemon running as a swarm manager on Ubuntu. I've created several docker machines in a swarm cluster, and when running "docker-machine ls" on my server I can see that my manager is running and accessible at tcp://192.168.99.101:2376.

Using nmap I can see that this port is open and the IP address is accessible.

However when crea

[2017-02-01 12:55] joelea commented on #145
Hey @cbevin,

Would you be able to post a snippet of the code that doesn't work?

[2017-02-01 13:01] cbevin commented on #145
Sure, following your example I create a docker machine:

`private final DockerMachine dockerMachine = DockerMachine.remoteMachine().host("tcp://192.168.99.101:2376").build();`

And then simply attempt to use this within the DockerComposeRule:

final String pName = this.getProjectName();
DockerComposeRule.builder().files(files).projectName(new ProjectName() {
				@Override
				protected String proj

[2017-02-01 13:19] CRogers commented on #145
Hi @cbevin,

To help us diagnose what's going on can you please run `docker -H tcp://tcp://192.168.99.101:2376 info` and paste what it returns? I've used DCR to hit a Swarm on a former project, I'm going to check how we did it there.

[2017-02-01 13:31] CRogers commented on #145
@cbevin Is your swarm manager using TLS? If so, you may need to use the `withTLS(String certificatePath)` method on the builder you get from `DockerMachine.remoteMachine()` which will set the correct environment variables (if running from the command line then these environment vars will be correct, however when running from IDEA these are unlikely to get propagated unless you change the run confi

[2017-02-01 13:35] CRogers commented on #145
(btw, you can use `ProjectName.fromString(...)` rather than making a new anonymous inner class.

[2017-02-01 13:42] cbevin commented on #145
Looks like that was all it was! Thanks for your help!

[2017-02-01 13:42] #145 closed

[2017-02-14 10:16] #141 closed

[2017-02-14 13:25] chrisalice opened #156 "No way to test features requiring recent Docker releases"
Public CircleCI cannot upgrade Docker past v1.10.0, meaning we cannot test (among other things) native healthchecks.

CircleCI v2 is currently in closed beta, and will support upgrading Docker to any released version, but is currently very underprovisioned (meaning frequent flakes due to failing to attain build resources), but more critically does not yet support building tags, meaning we would be

[2017-02-20 14:59] nickmelis opened #160 "DockerComposeRule doesn't work as @Rule"
I have my rule in a JUnit integration test set up as follows:
`@ClassRule
public static DockerComposeRule docker = DockerComposeRule.builder()
    .file("src/test/resources/docker-compose.yml")
    .saveLogsTo("build/dockerLogs/dockerComposeRuleTest")
    .pullOnStartup(true)
    .waitingForService("vp0", HealthChecks.toHaveAllPortsOpen())
    .build();`

As soon as I change @ClassRule with @Rule,

[2017-02-22 13:12] thomas-mcdonald opened #161 "Release 1"

[2017-02-22 13:12] thomas-mcdonald opened #162 "Release 1.0.0"
docker-compose-rule is a fairly well established project - time to cut a 1.0.0 release and get the benefits of semver?

[2017-02-22 13:14] #161 closed

[2017-02-22 13:20] joelea commented on #160
DCR is definitely intended to be usable with the `@Rule` annotation. I'd also expect there to be some clues in the initialization error.

- Does your stacktrace from the exception have a cause?
- How are you running the tests? Gradle? Maven? IntelliJ? Eclipse?

Thanks
Joe

[2017-02-22 13:22] nickmelis commented on #160
* No cause or anything meaningful whatsoever
* Running tests inside Eclipse

I can take a screenshot if that is of any help

[2017-02-22 13:22] joelea commented on #138
@jcustenborder this split has now happened. It is very unlikely to have been split up perfectly to make this trivial. My thinking is that it would be best to implement a JUnit 5 version by copy pasting code from the JUnit 4 version when necessary, and then we can go through a process of deduplication once we figure out what the solution looks like.

[2017-02-22 13:23] joelea commented on #160
A screenshot would be helpful, thanks!

[2017-02-22 13:54] chrisalice commented on #162
I believe the logic here is that we're still pretty aggressively changing the API (I know I broke it last release), and we'd want to do a through review before a 1.0.0 release. @joelea ?

[2017-02-22 14:01] iamdanfox commented on #162
To do a 1.0 and commit to semver, we'll need to define our API somehow.  Obviously the top level `DockerComposeRule` class is in, but do we include all the other little ones? (HealthChecks.toHaveAllPortsOpen etc etc? Are we stuck with the ClusterWait name??)

[2017-02-22 14:06] joelea commented on #162
@hpryce for opinions

I think we should 1.0. Worst case scenario is we have to do a 2.0 to do a breaking change.

My feeling is that we've not changed anything massive recently apart from the healthcheck stuff from @chrisalice, and I would've happily done a 2.0 to make that work properly.

As is always worth repeating, declaring a 1.0 version does not stop us doing anything, it just means we have

[2017-02-22 15:45] nickmelis commented on #160
Actually I finally managed to get a meaningful message from Eclipse saying:

`org.junit.internal.runners.rules.ValidationError: The @Rule 'docker' must not be static or it must be annotated with @ClassRule.
	at org.junit.internal.runners.rules.RuleMemberValidator$MemberMustBeNonStaticOrAlsoClassRule.validate(RuleMemberValidator.java:183)
	at org.junit.internal.runners.rules.RuleMemberValidator.val

[2017-02-22 15:46] joelea commented on #160
Thanks! Hope everything works out for you.

[2017-02-22 15:46] #160 closed

[2017-02-22 15:52] chrisalice commented on #162
I suggest we delete the "aggressive" shutdown strategies before 1.0.0.

[2017-02-25 14:40] tinedel opened #163 "portMapping is not refreshed on restart"
before restart

$ docker ps
4c7ee9d678c8        2666c3d6_api            "/bin/sh -c 'java -ja"   2 minutes ago       Up 24 seconds       0.0.0.0:32788->8080/tcp                                                   2666c3d6_api_1

after restart
docker.containers().container("api").stop();
docker.containers().container("api").start();

$ docker ps
4c7ee9d678c8        2666c3d6_api            "/bin/sh -c

[2017-02-28 16:53] joelea commented on #163
Hey @tinedel, thanks for filing. Going to put what I think would be the implementation details below. Realistically, it's going to take a little while for anyone to be in a position to fix this. If you feel like fixing it yourself we'd love to receive the PR.

@hpryce @iamdanfox feels like the sensible way of fixing this is making container cache another `DockerCompose` wrapper rather than this se

[2017-03-01 10:25] tinedel opened #165 "containers remain running if cluster has not satisfied waiting conditions"
I have 2-3 services i'm waiting for in my rule and if some of them fail to answer in a timeout duration test fails and all containers remain running.

It might be done by design to investigate what've happened but it would be nice to have control over this behavior.

[2017-03-01 14:34] iamdanfox opened #167 "Run Windows CI on every PR"
We're issuing commands which need different escaping on Mac / windows. Let's get some AppVeyor CI going.

https://github.com/palantir/docker-compose-rule/pull/166

[2017-03-02 11:15] tinedel opened #172 "logs are not reattached if container is restarted"
if container in cluster fails to start but has restart: always in settings logs are saved only from first run of this container

[2017-03-02 13:46] iamdanfox commented on #167
AppVeyor is approved 🎉

<img width="593" alt="screen shot 2017-03-02 at 13 46 29" src="https://cloud.githubusercontent.com/assets/3473798/23509729/ae3d1c44-ff4e-11e6-841a-bd3480f992b7.png">

[2017-03-02 14:06] samwright commented on #167
That's excellent news! You'll find the build will fail (lots of test failures) until #169 and #171 are merged. You'll also need to set the DOCKER_LOCATION and DOCKER_COMPOSE_LOCATION env variables, or merge #170 (which scans $PATH instead).

It might be easier to merge those before enabling the windows build, but that's your choice.

[2017-03-02 14:56] samwright commented on #167
I've got just one more test to fix: HostNetworkedPortsIntegrationTest. This tests that having docker use the 'host' network type means the container uses the host's network, so the host can see connect to all container ports on localhost and vice-versa (afaik). I get the following:

`java.lang.IllegalStateException: The cluster failed to pass a startup check: DockerPort [ip=127.0.0.1, portMapping=

[2017-03-06 11:29] hpryce commented on #167
@samwright you are correct this doesn't work on Mac - I believe when the test was originally written it was before Docker for Mac existed and while the behaviour with docker-machine wasn't great it was at least functional. Using an assume here seems like the best thing to do.

[2017-03-06 11:37] hpryce commented on #162
I would suggest we do the following and then ship 1.0:
- Remove the aggressive shutdown strategies as they don't make much sense any more
- Remove the is port open check that is basically a no-op
- Fix the issues with container restarting (logs, port caching etc)

The first two gets rid of things that people should not use. The last is something that I think people expect to work but I think might

[2017-03-06 14:12] samwright opened #173 "Docker's new version format breaks Docker.version()"
Tests that fail:
- DockerComposeRuleNativeHealthcheckIntegrationTest
- ContainerIntegrationTests

Stacktrace:
[code]
The tests run Docker.version() which tries to parse the docker version as a semantic version using the java-semver library, which considers that the latest docker version "17.03.0-ce" to be malformed because a numeric identifier (i.e. "03") contains a leading zero.

Docker's version

[2017-03-08 10:13] samwright commented on #173
Simpler solution was to parse the version string as three ints to construct the semver Version from. See pull request #177

[2017-03-08 17:06] #173 closed

[2017-03-08 17:22] samwright commented on #167
Just an update, docker-compose-rule now builds on Windows and passes all tests :-D

[2017-03-08 17:24] hpryce commented on #167
@samwright excellent. Unfortunately appveyor only supports Windows containers so I'm adding a quick smoke test that uses a Windows base image to ensure we don't regress in the future.

[2017-03-09 13:25] bsideup opened #181 "TestContainers?"

[2017-03-10 14:40] hpryce commented on #181
Hi,

I have to admit the last I looked at it was back when we started this project internally, two summers ago and it didn't have Docker Compose support at the time. Clearly that has changed - and I'm definitely open to collaborating rather than having two very similar libraries.

I'm going to take a closer look at the project and circle up with some of the other regular contributors to this libra

[2017-03-10 14:47] bsideup commented on #181
:+1: great, thanks :) Your library is cool, and It would be awesome to collaborate and delegate (entirely or partially) Compose stuff to your team while we take care of other things like environment detection.

A lot of stuff changed in TestContainers since then, a lot of features and new environments were added, and now we're trying to build a foundation on top of it for JVM+Docker testing by in

[2017-03-10 14:50] bsideup commented on #181
FYI your current immutable approach is something we were planning to introduce in TestContainers 2.0, would be cool to learn from docker-compose-rule's experience :)

[2017-03-15 22:07] ziminer opened #182 "Start up individual containers/services instead of the whole cluster."
We are trying to use docker-compose-rule to start up individual containers/services (and, of course, their dependencies, which docker does automatically), and I can't tell if there is already a way to do this. Ideally it would be something like:

DockerComposeRule.builder()
    .files(...)
    .services("my-service", "other-service")
    ...
    .build()

I saw there is a ".containers" option in t

[2017-03-15 22:42] joelea commented on #182
Hey @ziminer,

This is not something that is supported in the way you're looking for. This is partially because it's not been necessary before, and partially because it's actually kind of fiddly. e.g. docker-compose down does not take container arguments, so you could get into a case where you spin up foo and bar separately, but then the rule takes both of them down afterwards.

The way my current

[2017-03-16 05:02] akrambek opened #183 "How to specify docker-compose file for each @Test method"
Hello everyone, i have question regarding on now to specify docker-compose file for each @Test method. Basically, I have requirements where each test method should start with different docker-compose file. Is this possible?

Currently I have following solution which is breaking @Role convention.

[code]

[2017-03-16 08:58] chrisalice commented on #183
Hi Akram,

Unfortunately we're pretty limited in what we can offer as there's no clean syntax for passing test-specific parameters to rules in JUnit.

[2017-03-16 12:49] joelea commented on #183
@akrambek I'd say that's a reasonable way to do it. While the code doesn't use rules in a idiomatic way, I don't think your intent is an idiomatic way to use rules either.

Another approach is to have 1 test per file and use rules in a normal way.

[2017-03-16 13:24] akrambek commented on #183
Thanks @chrisalice @joelea for the prompt answer I am considering to create custom Annotation  if it is possible.

[2017-03-16 17:17] m4kspl opened #184 "Re-enable ShutdownStrategy access to running rule"
I noticed that as a part of https://github.com/palantir/docker-compose-rule/pull/140 the parameters of `ShutdownStrategy.shutdown()` changed from single `DockerDomposeRule` params to two separate `DockerCompose` and `Docker` ones.
I understand it's to remove cross-dependency between -core and -junit4 projects, but this strips down the important functionality of being able to access the configurati

[2017-03-17 20:06] cmebarrow commented on #183
It should be possible to enhance DockerComposeRule to work in conjunction with annotations to allow the builder configuration parameters (file, machine, etc) to be specified as annotations on each test method. See [K3poRule](https://github.com/k3po/k3po/blob/develop/junit/src/main/java/org/kaazing/k3po/junit/rules/K3poRule.java) which uses a similar technique to support @script and @scriptProperty

[2017-03-20 13:15] joelea commented on #183
That sounds like an interesting idea.

One worry I have is whether there's going to be a consistent set of things people want to differ across individual tests in one class. If there are a small proportion of fields people want to modify then having a few annotations to deal with those cases might make sense.

However, I want to avoid exposing the whole suite of configuration via interfaces as at

[2017-03-21 09:43] sas22 opened #186 "save logs issue"
hi, i'm using version 0.28.1 version (mvn repo was not update with newer version, be happy to be notified once they are published here https://dl.bintray.com/palantir/releases/com/palantir/docker/compose/docker-compose-rule/)

There is issue when save the logs when i have more than one service in my docker-compose file. That is because it split the services array and attach the new line "\n" to it

[2017-03-21 11:36] joelea commented on #184
Hey @m4kspl,

That makes sense. What kind of metrics were you pulling out? We've probably just not got the right components being passed through to `shutdown` right now. e.g. passing `shutdown` the `Cluster` being shutdown would entirely make sense. Would this solve your problem?

[2017-03-21 11:42] joelea commented on #186
Hey @sas22

1. There is a newer version, but the package named changed to docker-compose-rule-junit4 and a new package called docker-compose-rule-core to make space for a junit5 version that depends on core.
1. Could you post a docker-compose file that exhibits this to make sure we're fixing the right thing?

Thanks
Joe

[2017-03-22 10:59] sas22 commented on #186
yes, i saw it but perhaps its in your mvn private repo? and was not published to public one?
i cannot pull the following libraries i see you released - https://dl.bintray.com/palantir/releases/com/palantir/docker/compose/docker-compose-rule-core/

[2017-03-22 11:00] sas22 commented on #186
and thanks for the fast reply @joelea :)

[2017-03-22 13:08] joelea commented on #186
This should be the one you want to make the rule work: https://dl.bintray.com/palantir/releases/com/palantir/docker/compose/docker-compose-rule-junit4/

Are you unable to pull that 0.31.1 of that? That seems very strange. Could you try pulling that version and dump the error output in the issue? That would be super helpful.

Thanks
Joe

[2017-03-23 09:47] sas22 commented on #186
mvn cannot find this artifact, although it could for the earlier versions before the split to the several projects. so i means it wasn't pushed to your mvn repo. where previous versions were pushed.
http://jcenter.bintray.com/com/palantir/docker/compose/

so the following pull does not work.
	<dependency>
			<groupId>com.palantir.docker.compose</groupId>
			<artifactId>docker-compose-rule-junit4</

[2017-03-23 10:53] joelea commented on #186
Sorry for the back and forth on this, I'm very confused as to what's going on, I've also just remembered that this issue isn't about fetching 0.31.1.

For the download issue: can you make sure you're using https://dl.bintray.com/palantir/releases as the repo as opposed to http://jcenter.bintray.com - we intend to publish to the first one and one of us needs to investigate why the jars are also end

[2017-03-23 12:19] sas22 commented on #186
it's ok. we will add a proxy to your new mvn repo. so you are good. you just moved probably and our proxy was not set to reflect that :+1:

[2017-03-23 13:37] sas22 commented on #186
seems the proxy didn't work. you still probably need to push it to  https://dl.bintray.com/palantir/releases

[2017-03-23 15:19] hakkanicko opened #187 "Fail on Windows 7 with Docker 17"
Hi,

On Windows 7, with Docker Toolbox, Unit Tests don't succeed.

Actually, on each docker command I run, I have a line with this in beginning of my output :
[code]

Exemple on `docker ps` :
[code]

This extra line causes an exception during execution, when output is parsed:
[code]

I tried to remove this line, and it's possible using command line option: `--log-level=error`.

I didn't find where

[2017-03-23 15:33] chrisalice commented on #187
The correct fix to this is _not_ to set `redirectErrorStream` to true all the time.

[2017-03-31 17:51] zeroorone13 opened #189 "ConflictingContainerRemovingDockerCompose fails to detect conflicting container names"
As of https://github.com/docker/docker/commit/c9d0a77657ccc3be144ed4de12d43c8cfcca8590 the conflicting container name message coming from Docker uses the format "The container name" rather than the previous format "The name" which `ConflictingContainerRemovingDockerCompose` expects. This causes `getConflictingContainerNames` to fail to detect the conflicting names. Relaxing the regular expression

[2017-03-31 23:23] adrian-galbenus commented on #183
+1 for adding annotations.I think this is needed and it will be a nice improvement

[2017-04-04 07:57] bsideup commented on #181
Hey @hpryce,

How is it going? :)

[2017-04-10 15:54] dnjiao opened #190 "Why am I getting ExceptionInInitializerError"
I have a custom rule for my integration test which has the path to test yaml file hardcoded.
[code]
When I run the integration test, I am getting `ExceptionInInitializerError`.

Below is the stack trace:

[code]

This error occurs at line 52 of `DockerComposeExecutable` where `orElseThrow` is at:
[code]

I've set the `DOCKER_COMPOSE_LOCATION` in my environment which points to where `docker-compose

[2017-04-10 15:59] joelea commented on #190
Hey @dnjiao,

Could you post the code you're using to create the `DockerComposeRule`.

Thanks
Joe

[2017-04-10 16:20] joelea commented on #190
Well that is strange. I'll try and have a better look at this later, but for now it might be worth upgrading to the latest version; the little chunk of code for finding the right docker-compose location underwent some significant work recently.

[2017-04-10 16:22] dnjiao commented on #190
It turns out the path was not set correctly for docker-compse. I am using git bash terminal on a Windows machine. I can run `docker-machine` without `.exe`. And if I do `which docker-compse`, it would print out the path without `.exe`. But the actual executable is `docker-compose.exe`. After I corrected the path, it works now. However I still don't understand while it did not throw `IllegalStateEx

[2017-04-25 09:17] bkrahmer commented on #182
We would love to have exactly what ziminer was asking for as well.  In our case, we need to wait for some containers to be fully started before starting others.  The easiest solution would be to start some of the containers with the rule, and then in a BeforeClass, do some logic, then reference the rule to start up an additional container.  If this use case would be palatable for the maintainers,

[2017-04-25 10:54] joelea commented on #182
@bkrahmer have you looked at doing this with [docker healthchecks](https://docs.docker.com/compose/compose-file/compose-file-v2/#healthcheck)?

You can then wire up the ordering dependencies using docker-compose.yml.

From the docs it looks like:

[code]

[2017-04-25 11:22] bkrahmer commented on #182
@joelea thanks for the tip.  we will give it a try.

[2017-04-26 15:41] bkrahmer commented on #182
We were able to solve our startup problem by simply using the healthcheck.  This was a recent addition in docker-compose, added in January I believe.

[2017-04-27 10:00] joelea commented on #182
Awesome, glad I could help and thanks for getting back with it.

Does this sound like a good solution to your problem or is there a reason it would be better in the library? I certainly prefer this solution for my projects, but I'd be happy to consider some additional library level features if there's something incomplete.

[2017-04-27 10:01] joelea commented on #182
Closing as there's no response on the original issue and the follow up has been resolved.

[2017-04-27 10:01] #182 closed

[2017-04-27 14:47] ziminer commented on #182
FYI, for anyone that sees it later, we solved the issue internally by creating a wrapper rule around DockerComposeRule with approximately the interface we suggested, built on top of the DockerComposeRule::containers method. So we have a builder like:

[code]

And the ComponentCluster code does something like:

[code]

[2017-04-27 14:56] joelea commented on #182
Thanks for the info @ziminer - do you feel like this is something that should be native to the library? My feeling so far has been that we should make basic workflows work easily out of the box by just adding an @Rule annotation, and allow more complex workflows by utilising the componetnts of the library to make new custom rules (or other uses)

This is still imperfect, but seems like a better di

[2017-05-05 10:36] adrian-galbenus commented on #144
Can somebody explain how to do this?

[2017-05-05 11:41] bduisenov opened #193 "Functionality for removing conflicting containers is broken"
`ConflictingContainerRemovingDockerCompose` is relying on a `docker` error message which was changed since `docker v1.13.0` with commit [`c9d0a77`](https://github.com/moby/moby/commit/c9d0a77657ccc3be144ed4de12d43c8cfcca8590#diff-c49e1441c7d1efe64941459b59d0d601) from

to

As a consequence, the `#removeConflictingContainersOnStartup` functionality doesn't work.

[2017-05-05 12:04] bduisenov opened #195 "Network and volumes are not cleaned up."
After running multiple integration test, network and volumes are not cleaned up.
We can use `docker network list` and `docker volume list` to see this information.

[2017-05-05 12:18] bduisenov commented on #195
Retested one more time and I confirm that network and volumes are removed. The reason for what I had, is because I forcibly stopped integration tests.

[2017-05-05 12:18] #195 closed

[2017-05-05 13:22] bduisenov opened #196 "Static DockerComposeRule with dynamic docker ports is not working with multiple integration tests."
The list of `containers` and their `ports` in `DockerComposeRule` is not updated when rule is used as `@ClassRule`. Having dynamic `container ports` and sharing `static DockerComposeRule` between multiple integration tests is not possible, as containers are recreated with different ports on each integration test, but `DockerComposeRule` uses the ports that were assigned in the first integration te

[2017-05-05 13:26] bduisenov commented on #193
Found the duplicate issue #189.

[2017-05-09 00:57] wpoch commented on #196
This is also happening to me. Seems it doesn't refresh the `Container` instance, since despite a new `docker-compose` is spin up on the new tests, the `Container` class of the service is the same as before.

[2017-05-09 07:36] jamesneale commented on #196
I am not entirely sure I understand but I am assuming somewhere you have created a single constant static instance of DockerComposeRule and you are referencing that in all of your tests?

As you have observed, each instance of a DockerComposeRule object is Immutable and only expecting to have before and after called once respectively.

Generally it is recommend to group tests that share the same e

[2017-05-09 08:26] bduisenov commented on #196
@jamesneale ok, thanks.

[2017-05-09 08:26] #196 closed

[2017-05-09 16:03] #193 closed

[2017-05-09 16:03] iamdanfox commented on #189
Merged #194 containing a fix!

[2017-05-09 16:03] #189 closed

[2017-05-09 16:06] iamdanfox commented on #102
@felixdesouza do you think it's safe to deprecate the `.files()` behaviour towards a more minimal DCR 1.0?  I remember combining docker-compose files was useful for swarm, but I can't remember who is actually using this right now?

[2017-05-09 16:09] iamdanfox commented on #38
Fixed in the above PR (https://github.com/palantir/docker-compose-rule/pull/127) see "Use docker-compose config --services instead of ps"

[2017-05-09 16:09] #38 closed

[2017-05-19 08:30] Gui13 opened #199 "Healthcheck on SSL fails if the SSL certificate is invalid"
If my healthcheck consists of an SSL endpoint, the test rule will fail if the certificate is invalid.

Although I can understand the point when the test is made for pre production purposes, it means that internal testing (or local testing) will fail if the healthcheck needs to reach an SSL endpoint that has no valid SSL cert.

Would it be possible to add a flag somewhere to allow for invalid SSL c

[2017-05-31 11:40] FrelliBB opened #200 "Memoized port mappings cause issues when a service restarts"
I am using docker-compose-rule in a test but encountered an issue that is giving me some trouble. I have a spring boot service which depends on a mysql database container to be ready first in order to successfully start up. To solve this issue I added a restart policy to my service so my compose file looks something like this (irrelevant lines omitted).

[code]

When the service restarts due to th

[2017-05-31 20:11] iamdanfox commented on #200
The memoizing stuff was added because the 'wait for services' stage was found to be very slow.  I think it would be good to remove the memoizing stuff and re-add it somewhere in our ClusterWait code.

Could you pop a PR up?  Hopefully should be a lot of deleted code :)

[2017-05-31 22:56] felixdesouza commented on #200
Alternatively, if you want to control startup order you can try some of the things listed here:
https://docs.docker.com/compose/startup-order/

It would allow your test classes to remain the same and not need any logic to restart (even though it's been up once).

I still agree the mappings are borked if a service restarts, but I would expect a service to restart in an exceptional/intentional case

[2017-06-08 13:10] mfriedenhagen commented on #136
Hello @joelea, while I understand that switching from bintray to maven-central is a big step, adding your palantir repository to jcenter seems to be easy: https://bintray.com/docs/usermanual/formats/formats_mavenrepositories.html#_jcenter

[2017-06-16 20:03] kasecato opened #202 "Can't connect to DB after isListeningNow succeed"
* version: 0.32.0
* db: MySQL 8
* junit: 4.12
* docker: 17.03.1
* os: macOS Sierra
* reproduction repository: https://github.com/k--kato/docker-compose-rule-db-parallel

I cannot connect to MySQL even after `isListeningNow` succeeded.  How can I wait until JDBC can connect?

[code]

[2017-06-19 10:47] phiwu opened #203 "isListeningNow fails for docker in docker container"
I'm doing a healthcheck for docker container running inside a docker container. Everything works as expected but not the health-check. The docker-compose.yml file is executed and i can see the running containers. Some tests inside the base-container to access the hartbeat of first-container works.

`curl first-container:8080/heartbeat`

returns "true" - as expected.

[code]

I get the following st

[2017-07-03 15:16] bduisenov commented on #136
Hi @iamdanfox @joelea @hpryce!
Could you consider linking docker-compose-rule-junit4 to jcenter as @mfriedenhagen suggested?

Cheers,
Babur

[2017-07-04 09:51] jesper-beck-holm commented on #199
Hi,
I have same experience with warning:
DockerExecutionException: 'docker inspect --format={{if not .State.Running}}DOWN{{else if .State.Paused}}PAUSED{{else if index .State "Health"}}{{if eq .State.Health.Status "healthy"}}HEALTHY{{else}}UNHEALTHY{{end}}{{else}}HEALTHY{{end}} /tmp/_MEIaSkdza/requests/packages/urllib3/connection.py:251: SecurityWarning: Certificate has no `subjectAltName`, fallin

[2017-07-12 11:03] jonesr91 opened #204 "Pull images on startup"
I can see from the documentation that I am able to do something like the following:

    public class DockerCompositionTest {
        @ClassRule
        public static DockerComposition composition = DockerComposition.of("src/test/resources/docker-compose.yml")
            .pullOnStartup(true)
            .build();
    }

But I can also see that DockerComposition is deprecated.

Is this available (

[2017-07-21 15:20] king-jam opened #205 "Publish to Maven Central"
Is this possible? Would make it more consumable without changes to POM files / settings.xml

[2017-08-12 00:59] dotCipher commented on #202
I already wrote a `JdbcContainerHealthCheck` for my project, was originally going to submit a PR back here, but was unsure if it would be appropriate for tracking individual Health check types?

Would it be fair to have it under `HealthChecks` ? Or is it too specific of a use case?

Either way I would be happy to contribute it back.

[2017-08-12 04:56] k--kato commented on #202
@dotCipher  I'd love to use `JdbcContainerHealthCheck`. Is it possible to paste code here?

[2017-08-14 02:46] dotCipher commented on #202
@iamdanfox / @hpryce for input here, but I think the most scalable solution would be to commit back to the product instead of pasting code around.

I'd be more than happy to open a PR, but what kind of structure should we apply to arbitrary one-off `HealthCheck<T>` types?  Gradle sub-module like `health-checks-<type>` or just in some package that comes with `docker-compose-rule-core` ?

[2017-08-14 15:35] adamboesch opened #207 "Bintray latest maven dependency doesn't have latest code"
The latest 0.32 dependency doesn't seem to have #193 in it. My pom contains the following:

[code]

[2017-08-15 12:23] iamdanfox commented on #202
@dotCipher I 100% agree another gradle project called something like health-checks would be amazing... I literally just wrote a crappy one again for the hundredth time!  I personally don't think I have bandwidth to get to this, but I think we should definitely get a PR from someone merged in with one of these.

[code]

[2017-08-16 02:07] dotCipher commented on #202
Put up #208 to hopefully consolidate most of the logic needed.

[2017-08-25 05:33] tobad357 commented on #138
@jcustenborder did you progress with the junit5 work
I'm interested in it as we need BeforeAll and AfterAll in junit5

I would be happy to help out if needed

@joelea has any work progressed anywhere else?

[2017-08-26 14:14] mdotson opened #209 "inFormat method on containers do not give correct results when tests are run on docker network"
Given a docker-compose file that externally connects to the same network as the tests are being run, the `DockerPort#inFormat` method will replace `$HOST` with `localhost` when it should return the container name.

Example: tests are running in a docker container with the network `my-pre-existing-network` with the following `docker-compose.yml`
[code]

When one calls `rule.containers().container("

[2017-08-26 14:16] mdotson commented on #204
This already exists on the `DockerComposeRule` object: https://github.com/palantir/docker-compose-rule/blob/master/docker-compose-rule-junit4/src/main/java/com/palantir/docker/compose/DockerComposeRule.java#L122

[2017-08-26 14:20] mdotson commented on #203
Instead of using the healthchecks defined in code, I would suggest implementing your healthchecks in `docker-compose` since it is now supported since version 2.1. For your example, you could use the following `docker-compose` directive in your file:

[code]

[2017-08-26 14:25] mdotson commented on #202
Instead of using the healthchecks defined in code, I would suggest implementing your healthchecks in `docker-compose` since it is now supported since version 2.1. For your example, you could use the following `docker-compose` directive in your file for a postgrs container (use the mysql client instead for your purpose):

[code]

This will only pass when a JDBC connection can be made.

[2017-08-26 17:00] mdotson commented on #162
Is a 1.0.0 release still in the works? I notice that no real development has been done since May.

[2017-09-06 18:47] panga opened #210 "Containers aren't shut down when cluster waits fails"
When using JUnit4 @ClassRule, containers aren't shut down when cluster native health checks or custom cluster wait checks fails.

Problem: @ClassRule doesn't fire @ BeforeClass/@ AfterClass methods, so we can't shutdown the failed startup manually.

Output:
[code]

[2017-09-07 08:47] #204 closed

[2017-09-18 22:42] jb08 opened #211 "use --project-directory option of docker-compose"
To use docker-compose I run:
[code]

Can I specify the project directory of the Dockerfile?
[code]

[2017-09-20 11:11] ravn commented on #205
I would guess that the red tape at Maven Central makes this less desirable before version 1.0.

What is the state of the project, and what is missing to make a version 1.0 release?

[2017-09-20 11:13] ravn commented on #162
Do you need help to cut a 1.0 release?  We are not very keen on going outside Maven Central :-/

[2017-10-11 03:15] c100k commented on #138
@tobad357 if you want to use it from now in one of your project, here is a small workaround to make it work waiting for a new release with Junit5 support : https://github.com/c100k/docker-compose-rule-with-junit5.

Not sure if it works at 100% in all cases but in mine it does the job.

[2017-10-12 11:03] SchulteMarkus opened #213 "Get exit code of container"
Hi there,

here a feature-request of mine.

Right now, it is already possible to get the [state](https://github.com/palantir/docker-compose-rule/blob/master/docker-compose-rule-core/src/main/java/com/palantir/docker/compose/connection/State.java#L19) of container.
It would be really nice, if the exit code (of a DOWN-container) could retrieved, too.

[2017-10-15 21:42] davidkarlsen commented on #136
@joelea Any comment on this?

[2017-10-16 11:55] thokari opened #214 "Wrong Maven coordinates?"
I get this error:

`Could not resolve: com.palantir.docker.compose:docker-compose-rule:0.32.1`
`Could not resolve: com.palantir.docker.compose:docker-compose-rule-core:0.32.1`
`Could not resolve: com.palantir.docker.compose:docker-compose-rule-junit4:0.32.1`

Is maybe the file / folder structure on Bintray not correct?

[2017-10-25 13:20] fabian-braun commented on #28
Hello,
I'm a new user of this (nice!) library and the naming has caused a little confusion for me.
As a new user I expect the terms "service" and "container" are used according to how they're defined [by docker-compose](https://docs.docker.com/compose/compose-file/#compose-file-structure-and-examples).
That is, a service is a "blueprint" to get a concrete container up and running.

When I first di

[2017-10-30 10:20] smifun opened #216 "Docker compose is not shutting down when application exists."
Hi,
I noticed that when I'm running test with DockerComposeRule in debug mode and then terminate application, docker compose still running, this is causing failure to run/debug test again due to port binding. (I know I could randomise ports). This requires manual shutdown of containers.

I'm guessing that's because terminating test is not running "after" method on rule. Maybe implementing Shutdown

[2017-11-03 09:58] smifun commented on #216
Its even worse on build server it's leaving containers running If I would use random ports to would result in container creation bomb.

[2017-11-06 08:46] rgarrigue opened #217 "Misleading exemple in readme"
Hello

Reading the doc, I banged my head a while (on a difficult monday morning) about https://github.com/palantir/docker-compose-rule#waiting-for-a-service-to-be-available: You should either include toBeOpen() in the snippet or give it a completely different name like CustomDifferentCheckPortFunction(). Though it was part of the lib, like toHaveAllPortsOpen :-)

Best regards,

[2017-11-06 18:39] EvanErcolano opened #218 "Version 0.31.0 not available on bintray/jcenter"
Could you push up the latest version to bintray/jcenter? The latest version on there is **0.28.1**. It would be awesome to get the Docker health check update for this package.

[2017-11-07 16:57] EvanErcolano commented on #218
Maybe I was getting a cached page... I checked today and it is up to date. I apologize.

[2017-11-07 16:57] #218 closed

[2017-11-08 14:01] ioreskovic opened #219 "Could not find docker, looked in: DockerCommandLocations"
Hi there,

I've cloned this setup https://github.com/tomasulo/docker-compose-integration-tests with 0.32.1 version of docker-compose-rule, and I'm getting the following exception when I run

`./gradlew integrationTest`

[code]

I'm running Docker for Windows, and executing from Git Bash on Windows 10.
I have my environment variables set:
 * `DOCKER_COMPOSE_LOCATION=C:\Program Files\Docker\Docker\r

[2017-11-08 14:26] ioreskovic commented on #219
Edit:

It has worked now, however, the following exception is now thrown:

[code]

I'm assuming it has something to do with Windows security, but I've given full access to docker executables, but the problem still persists.

[2017-11-09 07:26] ioreskovic commented on #219
Nevermind, the issue is that DOCKER_COMPOSE_LOCATION and DOCKER_LOCATION require path to executable, not their base folder.

`DOCKER_COMPOSE_LOCATION=C:\Program Files\Docker\Docker\resources\bin\docker-compose.exe`
`DOCKER_LOCATION=C:\Program Files\Docker\Docker\resources\bin\docker.exe`

[2017-11-09 07:26] #219 closed

[2018-01-08 21:39] nathanloyer commented on #213
I concur.  Right now I have a service in my docker-compose setup that is erroring out and exiting with code 1, but palantir does not recognize that there is an error and continues to run my integration tests.

[2018-01-16 17:33] sarxos commented on #205
@palantir Please deploy to Maven Central. Isn't this project stable enough to be there?

[2018-01-16 18:40] uschi2000 commented on #205
I don't think we're willing to move from Bintray to Maven Central in the near future. Please use the Bintray location: https://bintray.com/palantir/releases/docker-compose-rule

[2018-01-26 01:21] aaudiber opened #222 "Add support for scaled services"
Currently, the project is unable to run docker-compose files which use the `scale` parameter, e.g.

[code]

Things break because now looking up the service "worker" will find 5 different container IDs. My current workaround is to copy the "worker" section 5 times under "worker1", "worker2", etc.

To work with scaled services, the code needs to be updated to differentiate between service names and

[2018-01-27 01:55] dotCipher opened #224 "JUnit5"
[Junit 5](http://junit.org/junit5/docs/current/user-guide/#overview) has recently released it's stable platform versions and I have been using it in multiple projects without any problems.  I would love to use DCR for these projects instead of having to use [`junit-jupiter-migrationsupport`](http://junit.org/junit5/docs/current/user-guide/#migrating-from-junit4-rule-support) since `@Rule` and `@Cl

[2018-02-02 11:07] Idriss88 commented on #205
Hi,
It will be great if you publish it to Maven Central. This will allow to do not bypass proxy and do not modify maven settings/pom file.
Thanks.

[2018-02-02 15:52] sarxos commented on #205
Hi @uschi2000, Bintray copies data from Maven Central and therefore Central seems to be a better place to release because you release artifacts only once and you have them available in all downstream locations (both Maven Central and Bintray and all local or proxy repositories, e.g. Nexus servers used by many companies). Moreover, adding 3rd party repositories into POMs and releasing it into Maven

[2018-02-03 00:51] uschi2000 commented on #205
@sarxos, I understand the benefits of Maven Central, however: Our internal OSS repo management tooling is currently set up for the triumvirate GitHub/CircleCI/Bintray, and it would be a non-trivial change to move over to Maven Central. I am happy to kick off a thread internally, but I can't promise any deadline or commitment at this point, sorry.

[2018-02-03 14:44] uschi2000 commented on #207
Looks like the jcenter synchronization is broken, the artifacts do appear on Bintray, but not on JCenter: https://palantir.bintray.com/releases/com/palantir/docker/compose/docker-compose-rule-core/

[2018-02-03 14:45] uschi2000 commented on #205
Checked with them. They said that Bintray/JCenter was chosen because (at the time, at least) it provided more straightforward integration with automation frameworks and granular permissions. Given the status quo, they currently cannot prioritize moving this over the Maven Central.

That being said, it looks like the Bintray->JCenter synchronization is currently broken, something we need to fix. Fo

[2018-02-03 14:45] uschi2000 commented on #205
Closing this out for now.

[2018-02-03 14:45] #205 closed

[2018-02-03 14:46] uschi2000 commented on #207
@iamdanfox can you take a look?

[2018-02-16 13:19] shiyardavid commented on #207
Hello,
I have the same issue:
Missing artifact com.palantir.docker.compose:docker-compose-rule-junit4:jar:0.32.0

[2018-02-26 08:41] cschneider commented on #216
I also experience this problem. We had our own docker integration before which solved this problem. There we used a separate process to start and stop the docker containers. The main process created a temp file that it touched in regular intervals in a thread. The process taking care of docker watched that file and if the file got stale or was going away the docker control process shuts down docke

[2018-03-13 18:55] mjquigley opened #227 "Log collecting only works for containers that are created immediately"
With log collecting enabled, any containers that wait for dependent containers before starting (e.g. by using depends_on with a condition) will not have their logs collected.  The file will be created but only contain "Attaching to"

[2018-03-29 08:06] kucera-jan-cz opened #232 "Possible run docker-compose-rule on Windows?"
Hello,

I have tried to run https://github.com/tomasulo/docker-compose-integration-tests on Windows 7 using Docker Tools, however I was not able to run it properly. My ultimate question is, is it possible to use docker-compose-rule on Windows 7?
So far what I have discovered the problem lies with using File::getAbsolutePath in DockerComposeFiles class where JVM produces Windows path format where D

[2018-03-31 13:39] jibin-tj opened #233 "Not able to access management port"
I'm unable to access management port for health check.

Here is my docker-compose file

`version: '3'

services:
  db:
    image: mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: jibin
      MYSQL_PASSWORD: jibin
      MYSQL_ROOT_HOST: '%'
  personalization-integrationtest-webapp:
    image: personalization_1.0.0:latest
    depends_on:
      - db
    ports:
      - 8080:808

[2018-04-02 19:19] dotCipher commented on #224
Tracking completion of this on #223

[2018-04-04 23:15] rion18 commented on #232
Can you check this one? https://github.com/palantir/docker-compose-rule/issues/219
I had the same issue but adding those two system variables worked.

[2018-04-04 23:16] rion18 commented on #214
Have you added the correct repository?

IE on Maven,

[code]

[2018-04-05 06:35] kucera-jan-cz commented on #232
@rion18 thanks for the advice, unfortunately this one does not work. It seems that the issue really lies in Windows path format and formating it to unix path representation

[2018-04-06 13:00] kedarr opened #234 "Getting NoClassDefFoundError exception"
I am trying to use 'docker-compose-rule' but getting the following exception. I have tried it with the latest version.

```Method threw 'java.lang.NoClassDefFoundError' exception. Cannot evaluate com.palantir.docker.compose.configuration.ImmutableProjectName.toString()```

Here is how I am initialising my docker compose

[code]

[2018-04-06 13:35] kedarr commented on #234
I also tried adding this dependency but same issue.

[code]
However I am able to run [project](https://github.com/tomasulo/docker-compose-integration-tests) without any issues. The only difference is between the build tool maven vs gradle.

[2018-04-06 14:18] rion18 commented on #232
Dang. It works for me using git-bash/docker machine. Is that your own setup?

[2018-04-19 17:39] dotCipher commented on #234
@kedarr do you have a repo or anything that we could clone to try and reproduce your issue?  I was not able to reproduce it locally myself

[2018-04-19 17:41] dotCipher commented on #26
@joelea / @nmiyake I realize that the landscape has changed  bit here, but fwiw isn't assertj more preferred now?

If so, we can relabel this issue and triage accordingly

[2018-04-20 15:39] thokari commented on #214
Probably...

[2018-04-20 15:39] #214 closed

[2018-04-20 19:03] fryz commented on #200
Think this is the same issue as https://github.com/palantir/docker-compose-rule/issues/163

[2018-04-20 19:06] fryz commented on #210
Think this is the same issue as https://github.com/palantir/docker-compose-rule/issues/165

[2018-04-20 19:07] fryz commented on #216
I think this is somewhat related to (and or, solution might fix) https://github.com/palantir/docker-compose-rule/issues/165

[2018-04-23 12:58] fryz commented on #138
This looks like it was refiled at https://github.com/palantir/docker-compose-rule/issues/224 and is being worked on in https://github.com/palantir/docker-compose-rule/pull/223

[2018-04-23 12:58] #138 closed

[2018-04-23 13:00] fryz commented on #39
@nemines / @CRogers - is this still an issue / relevant?

[2018-04-23 14:12] fryz commented on #116
I looked at a few recent builds and didn't see any issues with this, so I'm going to close this out.

[2018-04-23 14:12] #116 closed

[2018-04-30 20:47] dotCipher commented on #233
This seems like `@LocalManagementPort` is a [spring-boot](https://github.com/spring-projects/spring-boot/blob/master/spring-boot-project/spring-boot-actuator-autoconfigure/src/main/java/org/springframework/boot/actuate/autoconfigure/web/server/LocalManagementPort.java) thing right?

To better understand / help you here can you paste your `DockerComposeRule` block (or wherever you declare and initi

[2018-04-30 20:48] dotCipher commented on #233
Also whats the error / stacktrace that you are seeing?

[2018-04-30 20:52] dotCipher commented on #232
There were a few PRs that have been opened by the previous maintainers that possibly relate to this issue:
- #175
- #180
- #215

It seems that this will be directly fixed if we get #175 merged, @hpryce do you have context on this?

[2018-04-30 21:01] dotCipher commented on #222
Apologies on the delayed response, but we welcome any submissions.  Feel free to take a crack at the implementation and include tests :)

[2018-04-30 21:06] dotCipher commented on #217
Thanks for the input @rgarrigue,

Would it make more sense to have it explicitly state the full path of the static import, instead of being implicit?

For example:
[code]
instead of the current:
[code]

Or was it something else you were referring too?

[2018-04-30 21:10] dotCipher commented on #216
@felixdesouza / @fryz we might want to consider adding something to the core lifecycle of the Docker Compose object instead of just having duplicate code for the `beforeAll` method in JUnit4 and JUnit5

[2018-04-30 21:13] dotCipher commented on #213
@SchulteMarkus / @nathanloyer feel free to take a crack at this if you like, since this request is on the backburner for us at the moment.

[2018-04-30 21:35] fryz commented on #167
@hpryce @iamdanfox - looks like this is resolved - just want to double check and make sure that's the case.

We good to close this out?

[2018-04-30 21:43] fryz commented on #184
@m4ksio - wondering if this is still an issue for you.

[2018-04-30 21:50] #190 closed

[2018-04-30 21:51] fryz commented on #190
Closing this out as it looks like it's resolved (barring the question of why the ISE, which, if it's still an issue we should open a new issue and debug).

[2018-04-30 21:53] dotCipher commented on #207
@uschi2000 / @iamdanfox what action is needed here?

[2018-04-30 22:03] fryz commented on #39
Closing out as inactive - let us know if this is still an issue

[2018-04-30 22:03] #39 closed

[2018-04-30 22:05] fryz commented on #165
Going to close this out in favor of #210 (and related issue #216)

[2018-04-30 22:05] #165 closed

[2018-04-30 22:06] fryz commented on #163
Going to close this out in favor of #200

[2018-04-30 22:06] #163 closed

[2018-05-02 07:29] rgarrigue commented on #217
Hi

Anything that would make this less misleading would to, full path or another name.

Thinking about it, the best way to be sure one can get something working is to give a full example. Maybe you can add to you repository a examples/ directory with the full code for your example, so one can copy/paste a working code and adapt it to one needs.

Anyway, the doc is already quite verbose, quite good

[2018-05-30 15:46] iikirilov opened #238 "Wait for service by expecting a certain log"
I have two compose files that I need to run. The first one needs to run and I need to wait until one of the containers drops the log message "BOOTED" before I spin up the second set of containers. Is there a way to accomplish this using this library?

[2018-06-01 14:09] gaurav517 opened #239 "force pull latest if 'latest' tagged image is different at registry"
Is it possible to not to use local image tagged with 'latest' but to pull an image from registry, if there are changes.
So lets say,
I have my local image: myImage:latest
There is a remote image: myImage:latest on registry.
Now if we want to use this image, we compare whether image on registry is different than on local. If not different: use local image. If different: pull the one from registry.

[2018-06-05 14:34] vesteraas commented on #181
Today, I rewrote all my tests using Docker Compose Rule, to use TestContainers.  The transition was very easy.

[2018-06-13 18:56] rndbblnn commented on #213
Any workaround for this?

[2018-06-19 18:32] dotCipher commented on #181
@bsideup, thanks for flagging this to us!  Apologies on the super delayed response but I spoke with a few of the other maintainers (@hpryce / @alicederyn / @fryz) and we all agree that it might be worth investigating a way forward for collaboration.

For context, the DCR project has a few more maintainers (myself included) to support the growing demand, but we are in a slight holding pattern as we

[2018-06-19 18:34] dotCipher commented on #162
We are in a slight holding pattern as we determine the overall direction we want to take this project (as mentioned in https://github.com/palantir/docker-compose-rule/issues/181), but currently 1.0.0 is not in the works.

[2018-06-19 20:17] bsideup commented on #181
Hi @dotCipher! Wow, great news :)

We're more than happy to to receive such contributions since DCR definitely has a great experience with Docker Compose!
Also, recently we received a couple of contributions which add `programmatic Container / Cluster waits` to our Docker Compose (DC) support to align it with `GenericContainer`'s waits we already had for quite some time.

Windows support is someth

[2018-06-22 19:32] #207 closed

[2018-06-27 13:05] vmykhailiuk commented on #200
@fryz Could somebody merge fix for this issue and release it? Please help.

[2018-06-28 00:50] fryz commented on #200
Hey @vmykhailiuk  - sorry for the delay.

We've merged the PR and are working on cutting a release.

Just a heads up, we are actually in the process of validating TestContainers as a replacement for docker-compose-rule. (see https://github.com/palantir/docker-compose-rule/issues/181 for context).

So while this was pretty straightforward to merge and cut a release (thanks for the contribution @mkt

[2018-06-28 00:50] #200 closed

[2018-06-28 19:11] fryz commented on #200
Released https://github.com/palantir/docker-compose-rule/releases/tag/0.34.0 which contains this.

[2018-06-29 09:39] vmykhailiuk commented on #200
Thank you @fryz!

[2018-07-02 13:09] fmillone opened #243 "Native healthchecks configuration"
Hi,
Is there a way to change the default timeout ( 2 minutes ) for native healthchecks?
Thanks

[2018-07-03 18:19] bkalas commented on #210
I am experiencing exactly the same issue. Is there any workaround or plan to fix this? Thx.

[2018-07-04 00:36] pkoenig10 commented on #199
You can avoid SSL errors by creating an always trusting `SSLSocketFactory` and setting it as the default:
[code]

[2018-07-04 05:03] Gui13 commented on #199
Yes, this is a solution, but this means you're sacrificing all security on all HttpsUrlConnections, not just the ones that DockerComposeRule uses.

[2018-07-07 04:56] pkoenig10 commented on #199
Well you don't have to use an always-trusting one, you can provide a custom truststore.

[2018-07-27 06:29] robd commented on #238
@iikirilov I wasn't able to work out how to do this, so I ended up using https://www.testcontainers.org/usage/docker_compose.html which supports that feature.

[2018-07-27 12:34] sebastientromp commented on #232
Hey, do you have any update on this one? I can run `docker-compose build` from git bash, but running the test using maven from the same location gives me the same error as OP (`The system cannot find the file specified. (code: 2)`)

[2018-07-27 13:03] sebastientromp commented on #232
I debugged a bit, and in `ProcessImpl` at some point the full command resolves to `"C:\Program Files\Docker\Docker\resources\bin\docker-compose.exe" --project-name 7b2ab22f --file D:\mypath\docker-compose.yml build`

Running that on the command line:
[code]

I added quotes around the file name, and got:
[code]

Running in debug
[code]
I don't understand that yet, but it looks like an issue with th

[2018-07-27 14:31] sebastientromp commented on #204
It looks like the Builder doesn't expose the `pullOnStartup` property though. Am I missing something?

[2018-08-09 12:22] csokol opened #246 "External ports are cached between tests"
I'm facing a similar problem reported in #200. After a bit of debugging, it seems like the rule doesn't call stop/start or the containers are cached in `ContainerCache` between two tests. So if the rule runs  `docker compose down` then `docker compose up`, the ports might change and this doesn't get reflected in the container objects.

I noticed this problem when trying to create a base class with

[2018-08-10 11:30] csokol commented on #246
For reference, I was able to find a hacky solution by resetting the container cache through reflection:

[code]

[2018-08-22 14:34] jeremyk-91 commented on #203
Encountered this in https://github.com/palantir/atlasdb/pull/3461 - manually hitting the endpoints seemed to work, but was getting failures (and yeah we use a docker in docker setup)

[2018-08-29 17:04] nathanloyer opened #248 "Improve Check for localunixsocket on Mac"
I've been using docker for a few years and had added `127.0.0.1	localunixsocket` a long time ago, and have been getting the warnings from docker regardless.  I only just now looked into it and found that the check to make sure `localunixsocket` points to 127.0.0.1 is done by checking for an exact string.  A better check would be to try to resolve `localunixsocket` and see if you get `127.0.0.1` fo

[2018-09-11 16:10] saikatmohajan commented on #216
com.palantir.docker.compose.DockerComposeRule seems to always using the default/constant shutdown strategy even if you mention a different strategy during building the compose rule.
https://github.com/palantir/docker-compose-rule/blob/a584cb38cbc7f48e497b686358e1a656a95ecd53/docker-compose-rule-junit4/src/main/java/com/palantir/docker/compose/DockerComposeRule.java#L93

This above method is being

[2018-09-17 08:50] jannis-baratheon opened #250 "Throwables other than Exceptions are not propagated to the main thread"
# Type: bug ;; Repro rate: 100%

# Repro steps:
1. Create a `HealthCheck` which throws some descendant of `Throwable` which is not an `Exception` (e.g. an `Error` - `NoSuchMethodError`)
2. Use this `HealthCheck` in a `DockerComposeRule`.

## Actual result:
The rule fails to start with `ConditionTimeoutException`.

## Expected result:
The rule fails to start with the actual `Throwable` thrown bt th

[2018-09-25 19:50] davidkarlsen opened #253 "Feature: Be able to specify which services to start"
It would be great if the API could expose a method to select which services to start (e.g. docker-compose up serviceX serviceY.

The reason for this is that I want to avoid duplicating / splitting up compose files - but use the same compose-files for a few different contexts - one is to run the full stack launched manually, another is to run a sub-set of services through docker-compose-rule.

[2018-09-28 09:57] SerialVelocity opened #254 "Unable to start containers when environment variable not set"
I'm unable to start containers because of the error:
[code]

Here's a log line which may also help debug the problem:
[code]

docker-compose.yml:
[code]

[2018-10-04 20:41] #238 closed

[2018-10-26 13:33] jannis-baratheon opened #255 "Is docker-compose-rule a dead project?"
Looking at commit history and the repsonse rate to pull requests/issues it seems that development stopped. Is this official? Should we all move to test-containers? Can someone from Palantir's team share an official statement?

[2018-11-12 21:04] dotCipher commented on #255
As of right now, we haven't been able to invest any resources into continuing to build docker-compose-rule, and since a suitable alternative currently exists ([testcontainers' docker compose](https://www.testcontainers.org/usage/docker_compose.html) integration), we advise all current users of docker-compose-rule to migrate to testcontainers going forward.

We plan to update the repo with a more f

[2018-11-13 08:36] jannis-baratheon commented on #255
That's a pity. I hope Testcontainers improve Windows support.

[2019-01-15 19:42] bsideup commented on #255
Hi @jannis-baratheon!

Testcontainers team member here :) Do you have a concrete issue with Windows support, or? We invested a significant time into Windows support, did tests on our machines and the current state of it is quite stable (at least on Windows 10 with Docker for Windows, which is the recommended combination anyways)

[2019-01-23 09:15] ioreskovic commented on #219
I don't think I changed anything else.
If you're running it in terminal/IDE, try restarting it so they pick up env changes.
Also, I believe Docker now requires you have a password set for your Windows account, so try that as well.

[2019-01-23 09:33] gaschu95 commented on #219
duh, should've thought of restarting the terminal.. Now on to the next issue :)
Thanks a lot

[2019-03-20 21:21] k9m commented on #255
Hi guys, just wanted to thank you for this tool this is exactly what I have been looking for. Saves so much effort not having need to set everything up at build time and then passing in the random port numbers to the test suite.

[2019-07-11 16:59] #172 closed

[2019-07-24 14:58] varunm opened #309 "Circle CI docker logs broken"
## What happened?

Bumping to 1.0.0 seems to have broken Circle CI logs. All I see is "Attaching to" for the service logs

## What did you want to happen?

[2019-08-21 16:30] avierr commented on #217
Yeah took me a while to understand toBeOpen() isn't available,

for the rest, just copy paste this:
[code]

imports:
[code]

[2019-09-11 14:00] tifoha opened #350 "Who can review PR?"
I created pull request to solve issues with Win paths for docker https://github.com/palantir/docker-compose-rule/pull/318 who can review and merge it?

[2019-09-23 12:57] Dutzen opened #367 "Docker compose cluster shuts down after nested test class JUnit5"
## What happened?
The docker compose cluster shuts down after one of the nested testclasses finishes in JUnit 5.

[code]
I added the dockerComposeExtension as mentioned with @RegisterExtension
[code]
Afterwards i created some subclasses and annotated them as @Nested

[code]

## What did you want to happen?
When the first nested subclass (e.g. 'validateArticle' ) finishes executing all its tests, t

[2019-10-18 20:18] nedtwigg opened #383 "`DockerCompose.exec()` that supports stdin"
The `pg_restore` command can take a file argument, or you can pass the file contents over stdin.  In order to pass a file, you have to deal with mounting, but over stdin you don't.  Right now there's no way to pass content to stdin, and it would be useful if there was.

Maybe add an `Optional<byte[]> stdin` parameter which would be written to the process stdin?

https://github.com/palantir/docker-

[2019-12-04 17:33] hirochri opened #411 "Port matching is breaks when docker-compose ps output changes"
## What happened?

I was using the docker compose rule and found that after adding health checks to my `docker-compose.yml` the docker compose rule fails because it cannot it can't find the internal port for a random container and then triggers this exception:

https://github.com/palantir/docker-compose-rule/blob/a2adeae9ac12b7fc4c9f7a8d1bacaa7db97a430a/docker-compose-rule-core/src/main/java/com/p

[2019-12-04 18:50] hirochri commented on #411
A good way to solve this problem would be to use the output of

[code]

Which will return `0.0.0.0:1234->1234/tcp, 0.0.0.0:4567->4567/tcp`

[2019-12-04 23:11] hirochri commented on #411
Am working on a fix, will PR when its ready

[2019-12-05 11:19] CRogers commented on #411
@hirochri Nice problem breakdown, I'm actually amazed the regex approach has lasted this long. Please tag me in the PR/message me internally when you need a review.

[2019-12-10 08:56] naxhh commented on #224
What is the status of this? I see #223 has been closed

[2019-12-10 11:17] CRogers commented on #224
@naxhh JUnit 5 is fully supported, see https://github.com/palantir/docker-compose-rule#junit-5

[2019-12-10 11:17] #224 closed

[2019-12-18 16:52] sdyura opened #427 "commands fail on my computer"
## What happened?

i can not use docker from java on my computer because for some unknown reason my computer has a smaller internal shell width then my friends

when i am trying to get the external port of a service, i use port method:
[code]
here is the stack trace of the call as ive paused with the debugger on the parsing of the output
[code]
the command that was executed by the java is somethin

[2019-12-18 16:54] CRogers commented on #427
This has been fixed in [1.4.2](https://github.com/palantir/docker-compose-rule/releases/tag/1.4.2). Let me know if you still have problems.

[2019-12-18 16:54] #427 closed

[2019-12-18 17:00] sdyura commented on #427
where do i get that version from?
the website says the latest version is the 1 from:
https://dl.bintray.com/palantir/releases/com/palantir/docker/compose/docker-compose-rule-junit4/
and that says 1.3.0

[2019-12-18 18:26] sdyura opened #428 "rule hangs if docker-compose wants input"
## What happened?

my docker compose rule hangs without any clue as to what the issue is

stack trace:
[code]

its totally stuck, and im not given any clue as to why its stuck

but if i debug i can find out that its stuck on this:

[code]
this is really really extra annoying when this happens on a server you do not fully control

## What did you want to happen?

rule should not hang, it should thr

[2020-01-06 11:49] CRogers commented on #427
@sdyura Unfortunately we went on winter break just before you posted your comment! I'm looking at why the build is failing today, now we're back.

[2020-01-06 13:50] CRogers commented on #427
Ok, it was a permissions problem that has now been fixed. The 1.4.2 version has published and you should be able to use it now.

[2020-01-10 11:59] tzolov opened #433 "Sync jars with Maven Central"
Currently the jar artifacts are accessible only via the Bintray maven repository. Later is fine for testing/experimenting but useful for production environments where the Maven Central is the standard.
Demanding an additional (custom) Bintray repository imposes unnecessary configuration changes, opens additional security risks and often impacts the overall performance in resolving  artifacts.

Wit

[2020-01-22 11:20] sc30 opened #438 "Collecting logs behavior changes between version 0.34.0 vs latest"
previously, we were using version 0.34.0, for each test we ran, there is a step to verify some information in the logs.

when updating to latest version, Collection will occur when after the tests are finished executing, this makes tests to fail.

Is there any way to get around this?

collecting logs README.md from version 0.34.0:
This will automatically record logs for all containers in real time

[2020-01-22 11:23] CRogers commented on #438
This is a behaviour change in 0.36.1. Can you run your code to verify information in the logs in a `@After`, or `@AfterAll`, or provide a custom `.logCollector(...)` which does your validation?

[2020-01-22 11:49] sc30 commented on #438
Hi, @CRogers thanks for your quick reply. Could you elaborate more on `.logCollector` approach?

[2020-01-22 14:57] iamdanfox commented on #433
I've kicked off a ticket internally to get the syncing set up. I don't have access to the Palantir credentials to be able to do this myself I'm afraid, but I know other Palantir open source projects have been synced successfully (e.g. [tracing](https://mvnrepository.com/artifact/com.palantir.tracing/tracing)), so I think this should be doable!

[2020-01-22 15:59] tzyl commented on #411
Unfortunately I am still seeing this issue on my local machine using docker-compose-rule 1.4.2 which has the fix from #424.

macOS Mojave 10.14.6
docker-compose version 1.25.1-rc1, build d92e9bee

Example docker ps output when debugging docker-compose-rule:

[code]

[2020-01-22 16:14] CRogers commented on #411
Hopefully this should be fixed in [docker-compose 1.25.2](https://github.com/docker/compose/releases/tag/v1.25.2), which has the release note:

[Docker for mac 2.2.0.0](https://docs.docker.com/docker-for-mac/release-notes/) is scheduled for release will include this fixed version of docker-compose. I think this only affects people on the edge channel of Docker-for-mac.

[2020-01-23 13:19] tzyl commented on #411
Switched back from edge (docker-compose 1.25.1-rc1) to stable (docker-compose 1.25.2) and don't see the issue anymore!

[2020-02-18 05:43] zacyang opened #456 "Containers still running after test finished (in success or failure)"
## What happened?

With `dockerComposeExecutable`, the containers span up by docker-compose rule would not shut down after tests

## What did you want to happen?

shut down all the containers

[2020-03-04 20:49] jimisdrpc opened #474 "What is the correct dependency in order to use DockerComposeExtension (Junit 5)"
My POM has this depency

		<dependency>
			<groupId>com.palantir.docker.compose</groupId>
			<artifactId>docker-compose-junit-jupiter</artifactId>
			<version>1.4.2</version>
			<type>pom</type>
		</dependency>

and this repository

		<repository>
			<id>Palantir</id>
			<url>https://dl.bintray.com/palantir/releases/</url>
		</repository>

But there is no DockerComposeExtension in com.palantir.doc

[2020-03-04 21:43] jimisdrpc opened #475 "Is there any trick to use docker-compose-rule to test kafka when producer is assync"
I am getting

2020-03-04 18:14:29.527  INFO 15372 --- [kaMsgExecutor-1] o.a.kafka.common.utils.AppInfoParser     : Kafka version: 2.3.1
2020-03-04 18:14:29.529  INFO 15372 --- [kaMsgExecutor-1] o.a.kafka.common.utils.AppInfoParser     : Kafka commitId: 18a913733fb71c01
2020-03-04 18:14:29.529  INFO 15372 --- [kaMsgExecutor-1] o.a.kafka.common.utils.AppInfoParser     : Kafka startTimeMs: 1583356469

[2020-03-24 18:14] sdyura commented on #428
i have managed to get logging working correctly with:
    <logger name="com.palantir.docker.compose.execution.DefaultDockerCompose" level="TRACE" />

this is still happening intermittently, about every 3 times, but as soon as it starts happening, it happens always, until i log into the server and run the command manually

now i can see the logs:
[code]

[2020-03-25 17:14] sdyura commented on #428
i have read online that it is recommended to run:
[code]
for tests, but how do i do this with the DockerComposeRule?

[2020-05-28 20:39] peterwvj commented on #433
Any progress on this? @iamdanfox @palantirtech

[2020-07-08 13:35] wesleyk commented on #255
Hey folks! Wondering if you've gotten around to adding a more formal statement. I recently started integrating with docker-compose-rule but happened to notice this question. Figured it would be valuable to others if the project stated its position re: being unmaintained.

[2020-07-16 09:36] jannis-baratheon commented on #255
@bsideup We've finished migrating a few months back. [Testcontainers](https://github.com/testcontainers) has been working really well throughout this time on both Windows and Linux machines (I'm pretty sure we've got folks working on OSXes as well). To all the future readers of this comment: I highly recommend migrating to TC. Guys there are doing a great job delivering a quality product and what'

[2020-07-29 10:17] janesser commented on #474
works perfectly fine with 1.5.0

[code]

[2020-09-24 16:57] vitoresende commented on #219
I'm facing the same problem, but I'm using linux and my environment is correct, I could for example, finding using echo $DOCKER_COMPOSE_LOCATION. Could someone help me?

[2021-01-28 01:37] berler opened #553 "DockerComposeRule with large images gets killed by circle"
## What happened?
If you use DockerComposeRule with very large images, circle will kill your build due to running into the no_output_timeout of 10 minutes. This is because there is no log output at all while it is downloading and having docker start the containers.

## What did you want to happen?
Anything that takes a long time should periodically log something so that circle does not kill the jo

[2021-03-11 11:31] tzolov commented on #433
Guys, i hope that you are aware Bintray and JCenter are gone and the clock is ticking: https://bit.ly/30vhVEB

[2021-04-12 16:53] jimfcarroll commented on #255
It seems calling testcontainers a "suitable replacement" is an extreme overstatement. It doesn't support anywhere near the features supported by this plugin. It runs docker-from-docker and starts multiple extraneous containers to proxy making debugging completely opaque. When a container wont start there's no reason given, no way for me to check (e.g. you need to maintain the service name in both

[2021-04-12 17:55] jimfcarroll opened #577 "Late versions of java (e.g. Java 16) fail due to StreamEx"
StreamEx attempts to `setAccessible` private fields on java.util.Stream. This fails on Java 16 with an `InaccessibleObjectException`. I fixed this locally by upgrading the transitive dependency version of StreamEx to the latest (at this time, that's 0.7.3)

[2021-04-12 18:00] mikeholler commented on #433
I see that this bintray repository is proxied through maven central, but clicking on this link, which leads to the repository, results in a "Forbidden!" message now when last week it did not.

Artifact page:

https://mvnrepository.com/artifact/com.palantir.docker.compose/docker-compose-junit-jupiter/1.5.0

![Screenshot from 2021-04-12 12-58-04](https://user-images.githubusercontent.com/1164112/114

[2021-04-12 21:03] jannis-baratheon commented on #255
@jimfcarroll Are we talking about the same Testcontainers? I don't really have time now to verify all objections you've raised, but I'm pretty sure at least some of them seem to be misplaced. For example JUnit 5: https://www.testcontainers.org/test_framework_integration/junit_5/

[2021-04-12 21:07] jimfcarroll commented on #255
Thanks. Corrected. Plus slightly toned down. Was really frustrating experience. Ended up sticking with plantir and fixing the problem w/Java 16.

[2021-04-12 21:57] mikeholler commented on #433
The problem I posted, just above, appears to be resolved... :thinking:

[2021-04-12 22:02] pgribnau commented on #433
Probably from the scheduled brown-out: https://status.bintray.com/incidents/4mzph0y8l6hk

This will be a problem once Bintray is sunset May 1st.

[2021-04-13 06:50] bsideup commented on #255
@jimfcarroll I am sorry to hear that you had a frustrating experience. To be honest, I am surprised that, for so much frustration, you did not a single issue to Testcontainers:
https://github.com/testcontainers/testcontainers-java/issues?q=is%3Aissue+author%3Ajimfcarroll++
Consider reporting next time, so that we know about your problems and can provide help when it is needed :)

Let me iterate ov

[2021-04-13 10:50] uschi2000 commented on #433
Acknowledged, we're working on it. (I think this is one of the last few repos that haven't migrated yet.)

[2021-04-13 13:12] jimfcarroll commented on #255
When using the default and not running local docker compose it starts the ambassador container and also a docker-compose container. But okay. When you run it using a local docker compose it only starts the ambassador container.

I mentioned "you need to maintain the service name in both the docker-compose.yml file as well as your code - try figuring out what the problem is when they don't match."

[2021-05-02 13:51] jvalkeal commented on #433
There's still some bits missing like:
[code]

[2021-07-09 13:30] gelin commented on #433
Are there any news?

`com.palantir.conjure.java.runtime:conjure-java-jackson-serialization:jar:4.18.1` is not available in Maven Central.
There are newer versions of `conjure-java-jackson-serialization`, however, `docker-compose-rule-core:1.5.0` (the latest release) depends on `4.18.1`.

Could you update the `docker-compose-rule-core` at least?

[2021-07-09 13:35] gelin commented on #433
Or just upload `com.palantir.conjure.java.runtime:conjure-java-jackson-serialization:jar:4.18.1` to Maven Central. Please :pray:

[2021-07-13 15:07] #433 closed

[2021-08-19 11:06] p4paul opened #632 "Bintray has been deprecated"
## What happened?

Bintray has been deprecated so I can't fetch your library.

## What did you want to happen?

./gradle build

Also your download button on your README.md
[ ![Download](https://api.bintray.com/packages/palantir/releases/docker-compose-rule/images/download.svg) ](https://bintray.com/palantir/releases/docker-compose-rule/_latestVersion)

Please can you push this to MavenCentral

[2021-08-19 11:08] p4paul commented on #632
Sorry I was looking for `com.palantir.docker.compose:docker-compose-rule-junit4:1.5.0`
Looks like you have the latest version on Maven.

[2021-08-19 11:08] #632 closed

[2021-10-28 21:05] nedtwigg opened #661 "Broken for docker-compose v2"
## What happened?

[code]

Workaround is `docker-compose disable-v2`

[2022-02-03 11:38] hughsimpson opened #689 "Port matching breaks when consecutive ports are exposed"
## What happened?
Suppose a docker-compose maps sequential ports, such as
[code]
 Then the output of docker ps will be `0.0.0.0:9092-9093->9092-9093/tcp` which doesn't match the expected pattern of `"((\\d+).(\\d+).(\\d+).(\\d+)):(\\d+)->(\\d+)/tcp"`

## What did you want to happen?
These ports should be picked up - should be a relatively simple change to `public static Ports parseFromDockerCompos

[2022-03-17 20:05] #689 closed

[2022-04-05 16:02] Matt-Esch opened #702 "Which repository now that bintray has shut down?"
## What happened?

I installed a dependency with maven that recursively depends on this module. I get an error when installing:

`
Could not resolve dependencies for project com.ably.kafka.connect:kafka-connect-ably:jar:1.0-SNAPSHOT: Failed to collect dependencies at com.github.jcustenborder:docker-compose-junit-extension:jar:0.0.1.1 -> com.palantir.docker.compose:docker-compose-rule-core:jar:0.34

[2022-09-06 11:30] kicktipp opened #719 "Proposal for new ShutdownStrategy with a JVM ShutdownHook"
## What happened?

We usually run lots of test together in our IDE with a SpringBootExtension starting up a SpringBoot container for all tests. The container keeps running unless I use @DirtiesContext. The[ Spring Contexts shuts down with a JVM Shutdown Hook](https://docs.spring.io/spring-framework/docs/current/reference/html/testing.html#testcontext-ctx-management-caching) after all tests have be

[2022-09-06 11:31] kicktipp commented on #367
I had a similar problem. Maybe [this issue](https://github.com/palantir/docker-compose-rule/issues/719#issue-1363139859) helps you.

[2022-10-21 13:53] Sam-Kramer opened #720 "Ignore stderr returned from docker-compose command"
## What happened?

A docker-compose file we had was using a deprecated property, and as a result would warn log to stderr. This ends up breaking docker-compose-rule downstream whenever we parse command output (such as when [we list services](https://github.com/palantir/docker-compose-rule/blob/master/docker-compose-rule-core/src/main/java/com/palantir/docker/compose/execution/DefaultDockerCompose.